header {
  text-align: center;
  background-color: #8e44ad;
  color: white;
  padding: 30px 10px;
  font-size: 2.2em;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;

}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  color: #8e44ad;
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 2px solid #d8b0ff;
  display: inline-block;
  padding-bottom: 5px;
}


.about {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.about-text {
  flex: 1;
  min-width: 250px;
  color: #8e44ad;
}

.about-text p {
  font-size: 1.1em;
  line-height: 1.6;

}

.about img {
  align: left;
  width: 250px;  
  height: auto;
  border-radius: 15px; 
  border: 4px solid #d8b0ff;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}


.works ul {
  list-style: none;
  padding-left: 0;
}

.works li {
  background-color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.works a {
  color: #8e44ad;
  text-decoration: none;
  font-weight: bold;
}

.works a:hover {
  text-decoration: underline;
}


.contact {
  text-align: center;
  font-size: 1.2em;
  background-color: #f0dfff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}


